input[type=radio] {
    width: 35px;
    height: 35px;
}

.multiple-choice input[type=checkbox] {
    width: 35px;
    height: 35px;
}

.form-label {
    font-size: 17px;
    margin-bottom: -3px;
    padding-bottom: 0;
    color: black;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield;
}