asgiref==3.10.0
coverage==7.11.0
crispy-bootstrap4==2025.6
Django==5.2.7
django-auditlog==3.0.0
django-crispy-forms==2.4
django-debug-toolbar==6.1.0
djangorestframework==3.16.1
Faker==37.12.0
parameterized==0.9.0
pillow==12.0.0
psycopg2==2.9.11
python-dateutil==2.9.0
python-decouple==3.8
redis==7.0.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
