{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">

    <br>
    <div class="container">
        <form method="post" class="form-control">
            {% csrf_token %}
            <legend>
                <h2 class="heading-h2">{{ formTitle }}</h2>
            </legend>

            {% for field in form %}

                {% if field.field.widget.input_type == 'text' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'select' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'number' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="multiple-choice">
                        {{ field }}
                        <label class="form-label">{{ field.label }}</label>
                    </div>
                {% else %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                {% endfor %}

                <br>
            {% endfor %}

            <br><br><br><br><br>

            <div class="text-right">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-danger" value="Reset">
            </div>
        </form>
        <br><br>
    </div>

    <script>

        $("#id_subject").on('change', function () {
            let subjectId = $(this).val();

            fetch("{% url 'quiz:topicObjectApiEventVersion1Component' %}?subject_id=" + subjectId, {
                method: 'GET',
            }).then((response) => response.json())
                .then((response) => {
                    if (response.success) {

                        $("#id_topic")
                            .find('option')
                            .remove()

                        if (response.data.topics.length === 0) {
                            response.data.topics = [
                                {
                                    'id': 0,
                                    'name': '--Select a subject first--'
                                }
                            ]
                        }

                        $.each(response.data.topics, function (i, item) {
                            $('#id_topic').append($('<option>', {
                                value: item.id,
                                text: item.name
                            }));
                        })
                    }
                })
        });

    </script>
{% endblock %}