{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">
    <br>
    <div class="container">
        <form method="post" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}
            <legend>
                <h2 class="heading-h2">{{ formTitle }}</h2>
            </legend>

            {% for field in form %}
                {% if field.field.widget.input_type == 'text' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'select' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'number' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="multiple-choice">
                        {{ field }}
                        <label class="form-label">{{ field.label }}</label>
                    </div>
                {% elif field.field.widget.input_type == 'radio' %}
                    <span class="form-label">{{ field.label }}</span>
                    <fieldset class="inline">
                        {% for choice in form.isCorrect %}

                            <div class="multiple-choice">
                                <input class="form-control" value="{{ choice.choice_label }}"
                                       type="radio" name="{{ field.html_name }}" required>
                                <label class="form-label">{{ choice.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </fieldset>
                {% else %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                {% endfor %}

                <br>
            {% endfor %}

            <div id="answersContainerList">
            </div>

            <div id="fieldErrorList" hidden>
            </div>

            <div class="text-right">
                <input type="reset" class="btn btn-danger" value="Reset">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
        <br><br>
    </div>
    <script type="text/babel">

        function showAnswerListError() {
            let fieldErrorListElement = $('#fieldErrorList');
            fieldErrorListElement.append('{{ form.errors }}');

            if ( fieldErrorListElement.children().length === 0 )
                return;

            let asElement = document.getElementById('fieldErrorList').firstElementChild.innerHTML;
            fieldErrorListElement.empty();
            fieldErrorListElement.append(asElement);

            $('#fieldErrorList').children('li').each(function () {

                if (this.innerText.includes('initialAnswerOptions')) {
                    let answerError = this.innerText.split('initialAnswerOptions')[1];

                    $('#answerOptionErrorMessage').html(
                        `<p class="text-center" style="color: red;"><small>${answerError}</small></p>`
                    )
                }
            });
        }

        function getInitialAnswersAndChecked() {
            let INITIAL_ANSWER_OPTIONS = []
            {% for item in form.initial.initialAnswerOptions %}
                INITIAL_ANSWER_OPTIONS.push({
                    orderNo: '{{ item.0 }}',
                    enteredAnswer: '{{ item.1 }}',
                    isChecked: '{{ item.2 }}' === 'True',
                });
            {% endfor %}
            return INITIAL_ANSWER_OPTIONS;
        }

        class ChoiceComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                const style1 = {
                    paddingLeft: '0px',
                }
                return (
                    <div className="row">
                        <div className="col-1">
                            <div className="multiple-choice" style={style1}>
                                <input type="checkbox" className="form-control"
                                       name={"answerChecked-" + this.props.counter}
                                       defaultChecked={this.props.isChecked}></input>
                                <label className="form-label">&nbsp;</label>
                            </div>
                        </div>
                        <div className="col">
                            <input type="text" className="form-control col" name="answerOptions"
                                   defaultValue={this.props.enteredAnswer}></input>
                        </div>
                    </div>
                )
            }
        }

        class AnswerChoiceComponent extends React.Component {
            constructor(props) {
                super(props);
                let initialAnswerAndCheckBox = getInitialAnswersAndChecked();
                let choiceComponentListTemp = [];
                for (const item of initialAnswerAndCheckBox) {
                    choiceComponentListTemp.push(<ChoiceComponent key={item.orderNo}
                                                                  counter={item.orderNo}
                                                                  enteredAnswer={item.enteredAnswer}
                                                                  isChecked={item.isChecked}/>);
                }
                this.state = {
                    choiceComponentList: choiceComponentListTemp,
                    showRemoveButton: initialAnswerAndCheckBox.length > 2,
                }
            }

            updateListState(list) {
                this.setState({
                    choiceComponentList: list,
                    showRemoveButton: list.length > 2,
                })
            }

            componentDidMount = () => {
                showAnswerListError();
            }


            increaseRow = () => {
                let tempList = this.state.choiceComponentList;
                tempList.push(<ChoiceComponent key={tempList.length + 1} counter={tempList.length + 1} enteredAnswer={''} isChecked={false}/>);
                this.updateListState(tempList);
            }

            decreaseRow = () => {
                let tempList = this.state.choiceComponentList;
                tempList.pop();
                this.updateListState(tempList);
            }

            render() {
                const style1 = {
                    marginRight: '5px',
                }
                return (
                    <div>
                        <span className="form-label">Enter answers in each field and select the correct answers.</span>
                        {
                            this.state.choiceComponentList.map((component) => component)
                        }
                        <button type="button" className="btn btn-outline-primary btn-sm float-right"
                                onClick={this.increaseRow}>Add
                        </button>
                        {
                            this.state.showRemoveButton ?
                                <button type="button" className="btn btn-outline-danger btn-sm float-right"
                                        style={style1}
                                        onClick={this.decreaseRow}>Remove</button> : <span></span>
                        }
                        <div id="answerOptionErrorMessage"></div>
                        <br></br>
                        <br></br>
                    </div>
                )
            }
        }

        ReactDOM.render(<AnswerChoiceComponent/>, document.getElementById('answersContainerList'));
    </script>
{% endblock %}