{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container" style="color: black;">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary btn-sm btn-block"
                   href="{% url 'quiz:create-essay-question-view' quizId=quizId %}" role="button">Create Essay
                    Question</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary btn-sm btn-block"
                   href="{% url 'quiz:create-multiple-choice-question-view' quizId=quizId %}" role="button">Create Multiple Choice
                    Question</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary btn-sm btn-block"
                   href="{% url 'quiz:create-true-or-false-question-view' quizId=quizId %}" role="button">Create True or False
                    Question</a>
            </div>
        </div>
    </div>
{% endblock %}