{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">
    <br>
    <div class="container" style="color: black;">
        {% if quizId %}
            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-outline-dark btn-sm btn-block"
                       href="{% url 'quiz:quiz-detail-view' quizId=quizId %}">Quiz Detail</a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-outline-dark btn-sm btn-block"
                       href="{% url 'quiz:quiz-attempts-for-quiz-view' quizId=quizId %}">Quiz Attempts</a>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="row">
            <form method="post" class="form-control">
                {% csrf_token %}
                <legend>
                    <h2 class="heading-h2">{{ formTitle }}</h2>
                </legend>

                {% for field in form %}

                    {% if field.field.widget.input_type == 'text' %}
                        <span class="form-label">{{ field.label }}</span>
                        {{ field }}
                    {% elif field.field.widget.input_type == 'select' %}
                        <span class="form-label">{{ field.label }}</span>
                        {{ field }}
                    {% elif field.field.widget.input_type == 'number' %}
                        <span class="form-label">{{ field.label }}</span>
                        {{ field }}
                    {% elif field.field.widget.input_type == 'checkbox' %}
                        <div class="multiple-choice">
                            {{ field }}
                            <label class="form-label">{{ field.label }}</label>
                        </div>
                    {% else %}
                        <span class="form-label">{{ field.label }}</span>
                        {{ field }}
                    {% endif %}

                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}

                    <br>
                {% endfor %}

                <br><br><br><br><br>

                <div class="text-right">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn btn-danger" value="Reset">
                </div>
            </form>
        </div>
        <hr>
        {% if quizId %}
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'quiz:create-essay-question-view' quizId=quizId %}" role="button">Create Essay
                        Question</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'quiz:create-multiple-choice-question-view' quizId=quizId %}" role="button">Create
                        Multiple Choice
                        Question</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'quiz:create-true-or-false-question-view' quizId=quizId %}" role="button">Create
                        True or
                        False
                        Question</a>
                </div>
            </div>
        {% endif %}
        <hr>
        {% for question in quizQuestions %}
            <div class="card">
                <div class="card-body" style="padding: 1rem;">
                    <div class="row">
                        <div class="col">{{ question.content }}</div>
                        <div class="col">
                            {% if question.getInstanceType == 'EssayQuestion' %}
                                <span class="badge badge-primary">{{ question.getInstanceType }}</span>
                            {% elif question.getInstanceType == 'TrueOrFalseQuestion' %}
                                <span class="badge badge-secondary">{{ question.getInstanceType }}</span>
                            {% elif question.getInstanceType == 'MultipleChoiceQuestion' %}
                                <span class="badge badge-success">{{ question.getInstanceType }}</span>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-dark"
                               href="{% url 'quiz:question-detail-view' quizId=quizId questionId=question.id %}"
                               role="button">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br><br><br>
    </div>

	<script>

        window.addEventListener('load', function () {
            let isSubjectDropdownEmpty = $('#id_subject').has('option').length === 0;
            let isTopicDropdownEmpty = $('#id_topic').has('option').length === 0;
            let isDifficultyDropdownEmpty = $('#id_difficulty').has('option').length === 0;
            if (isSubjectDropdownEmpty || isTopicDropdownEmpty || isDifficultyDropdownEmpty) {
                location.reload();
            }
        })

        $("#id_subject").on('change', function () {
            let subjectId = $(this).val();

            fetch("{% url 'quiz:topicObjectApiEventVersion1Component' %}?subject_id=" + subjectId, {
                method: 'GET',
            }).then((response) => response.json())
                .then((response) => {
                    if (response.success) {

                        $("#id_topic")
                            .find('option')
                            .remove()

                        if (response.data.topics.length === 0) {
                            response.data.topics = [
                                {
                                    'id': 0,
                                    'name': '--Select a subject first--'
                                }
                            ]
                        }

                        $.each(response.data.topics, function (i, item) {
                            $('#id_topic').append($('<option>', {
                                value: item.id,
                                text: item.name
                            }));
                        })
                    }
                })
        });

    </script>
{% endblock %}