{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">
    <style>
        .badge {
            border-radius: 1rem;
        }

        .btn-group-xs > .btn, .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: .5;
            border-radius: .2rem;
        }
    </style>
    <br>

    <div class="container">
        <form method="GET" action="{{ request.path }}">
            <div class="row">
                <div class="col">
                    <input type="text" id="query" name="query" class="form-control col"
                           placeholder="Search for a quiz..."/>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary btn-sm" value="Search"/>
                </div>
            </div>
        </form>
        <br><br>

        {% for quiz in quizList %}
            <div class="col form-control">
                <h5><a href="{{ quiz.getUrl }}">{{ quiz.name }}</a></h5>
                <p>Description: {{ quiz.description }}</p>
                <h6>
                    <span class="badge badge-primary">Subject: {{ quiz.topic.subject }}</span>
                    <span class="badge badge-secondary">Topic: {{ quiz.topic }}</span>
                    <button type="button" class="btn btn-Dark btn-xs float-right"
                            onclick=beginQuizAttempt('{{ quiz.id }}')>
                        <small>Click here to attempt this quiz</small>
                    </button>
                </h6>
            </div>
            <br>
        {% endfor %}
    </div>

    <script>

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        window.onload = function (e) {
            let query = getParameterByName('query');
            if (query != null)
                document.getElementById('query').defaultValue = query;
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        function beginQuizAttempt(quizId) {
            let currentPath = "{% url 'quiz:quizAttemptObjectApiEventVersion1Component' %}?quizId=" + quizId;
            fetch(currentPath, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            }).then((response) => response.json())
                .then((json) => {
                    if (json.success) {
                        window.location.href = json.redirectUrl
                    }
                })
        }

    </script>

{% endblock %}