{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">
    <br>
    <div class="container">
        <form method="post" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}
            <legend>
                <h2 class="heading-h2">{{ formTitle }}</h2>
            </legend>

            {% for field in form %}
                {% if field.field.widget.input_type == 'text' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'select' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'number' %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="multiple-choice">
                        {{ field }}
                        <label class="form-label">{{ field.label }}</label>
                    </div>
                {% elif field.field.widget.input_type == 'radio' %}
                    <span class="form-label">{{ field.label }}</span>
                    <fieldset class="inline">
                        {% for choice in form.initial.isCorrectChoices %}
                            <div class="multiple-choice">
                                <input class="form-control" value="{{ choice.1 }}"
                                       type="radio" name="{{ choice.0 }}" required {% if choice.3 == 'True' %} checked {% endif %}>
                                <label class="form-label">{{ choice.2 }}</label>
                            </div>
                        {% endfor %}
                    </fieldset>
                {% else %}
                    <span class="form-label">{{ field.label }}</span>
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                {% endfor %}

                <br>
            {% endfor %}

            <div class="text-right">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-danger" value="Reset">
            </div>
        </form>
        <br><br>
    </div>
{% endblock %}