{% extends 'accounts/base.html' %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class='d-flex justify-content-center mt-5'>
        <div class='card' id='id-card-narrow-component'>
            <form method='post'>
                {% csrf_token %}
                <div class='card-body'>
                    <h4 class='heading-h2 text-center'>Login</h4>
                    <hr>
                    {% for field in form %}
                        {% renderFormFields field %}
                        {% for error in field.errors %}
                            <p class='text-center' style='color: red;'><small>{{ error }}</small></p>
                        {% endfor %}
                    {% endfor %}
                    <input type='submit' class='btn btn-primary btn-block' value='Login'>
                    <div class='text-muted text-center mt-3'>
                        Forgot your password? <a href='{% url 'accounts:password-forgotten-view' %}'>Reset Here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}