{% extends 'accounts/base.html' %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class='d-flex justify-content-center mt-5'>
        <div class='card' id='id-card-narrow-component'>
            <form method='post'>
                {% csrf_token %}
                <div class='card-body'>
                    <h4 class='heading-h2 text-center'>Change Password</h4>
                    <hr>
                    {% for field in form %}
                        {% renderFormFields field %}
                        {% for error in field.errors %}
                            <p class='text-center' style='color: red;'><small>{{ error }}</small></p>
                        {% endfor %}
                    {% endfor %}

                    <span id='span-id-password-visibility' class='pull-right mb-3'
                          style='color: #007bff;cursor: pointer;float: right;'>
                        Show Password
                    </span>
                    <input type='submit' class='btn btn-primary btn-block' style='margin-top: 25px;'
                           value='Reset Password'>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            const $passwords = $("[name='password'], [name='repeatPassword']");
            const $toggle = $('#span-id-password-visibility');

            $toggle.on('mousedown', function (e) {
                e.preventDefault();
            });

            $toggle.on('click', function () {
                const isHidden = $passwords.first().attr('type') === 'password';
                const newType = isHidden ? 'text' : 'password';

                $passwords.attr('type', newType);
                $toggle.text(isHidden ? 'Hide Password' : 'Show Password');
            });
        });
    </script>
{% endblock %}