{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <div class='d-flex justify-content-center mt-5'>
        <div class='card' id='id-card-narrow-component'>
            <form method='post'>
                {% csrf_token %}
                <div class='card-body'>
                    <h4 class='heading-h2 text-center'>Forgot Password?</h4>
                    <div class='text-muted text-center small'>You can reset your password here.</div>
                    <hr>
                    <div class='form-group floating'>
                        <input id='email' name='email' placeholder='' class='form-control' type='email' required/>
                        <label>Email</label>
                    </div>
                    <input type='submit' class='btn btn-primary btn-block' value='Reset Password'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}