{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5" id="idCardWideComponent">
        <div class="table-responsive-xl table-sm">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Subject / Topic</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for quizAttempt in quizAttemptList %}
                    <tr>
                        <td>{{ quizAttempt.quiz.name }}</td>
                        <td>
                            <span class="badge badge-primary">{{ quizAttempt.quiz.subject }}</span>
                            /
                            <span class="badge badge-secondary">{{ quizAttempt.quiz.topic }}</span>
                        </td>
                        <td>{{ quizAttempt.get_status_display }}</td>
                        <td>{{ quizAttempt.createdDttm }}</td>
                        <td>
                            <span>
                                <a href={{ quizAttempt.getAttemptUrl }}>View</a>
                            </span>
                            {% if quizAttempt.status == 'MARKED' %}
                                <span>
                                |
                                <a href={{ quizAttempt.getAttemptResultUrl }}>Result</a>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}