{% extends 'accounts/base.html' %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class='container mt-5' id='idCardWideComponent'>
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <legend>
                <h2 class='heading-h2'>{{ formTitle }}</h2>
            </legend>

            {% for field in form %}
                {% renderFormFields field %}
                {% for error in field.errors %}
                    <p class='text-center' style='color: red;'><small>{{ error }}</small></p>
                {% endfor %}
                <br>
            {% endfor %}

            <div id='choice-selection-component'></div>
            <div id='fieldErrorList' hidden></div>

            <div class='row'>
                <div class='col'>
                    <a class='btn btn-outline-dark' href='{% url 'core:quiz-update-view' url=quizUrl %}' role='button'>
                        Back to quiz
                    </a>
                </div>
                <div class='col text-right'>
                    <input type='reset' class='btn btn-secondary' value='Reset'>
                    <input type='submit' class='btn btn-primary' value='Submit'>
                </div>
            </div>
        </form>
    </div>
    <div class='mt-5'></div>
    <script type='text/babel'>

        window.addEventListener('load', function () {
            if ($('#id_choiceOrder').has('option').length === 0 || $('#id_choiceType').has('option').length === 0) {
                location.reload();
            }

            const id_choiceType = document.getElementById('id_choiceType');
            renderChoicesComponent(id_choiceType.value);
        })

        document.getElementById('id_choiceType').addEventListener('change', (event) => {
            renderChoicesComponent(event.target.value);
        });

        function renderChoicesComponent(value) {
            if (value === 'SINGLE') {
                ReactDOM.render(
                    <SingleAnswerSelectionComponent/>, document.getElementById('choice-selection-component')
                );
            } else if (value === 'MULTIPLE') {
                ReactDOM.render(
                    <MultipleAnswerSelectionComponent/>, document.getElementById('choice-selection-component')
                );
            } else {
                ReactDOM.render(
                    null, document.getElementById('choice-selection-component')
                );
            }
        }

        class BaseInputComponent extends React.Component {
            // answerOptions -> choice
            // enteredAnswer -> choiceValue
            // answerChecked -> cb_Choice / rb_Choice
            render() {
                const {counter, isChecked, enteredAnswer} = this.props;
                const style1 = {paddingLeft: '0px'};
                const inputSize = {height: '34px', width: '34px'};

                return (
                    <div className='row'>
                        <div className='col-auto'>
                            <div className='multiple-choice' style={style1}>
                                <input
                                    type={this.getInputType()}
                                    className='form-control'
                                    style={inputSize}
                                    name={this.getInputName()}
                                    defaultChecked={isChecked}
                                    required={this.getInputType() === 'radio'}
                                    value={this.getValue()}
                                />
                                <div className='mt-2'></div>
                            </div>
                        </div>
                        <div className='col'>
                            <input
                                type='text'
                                className='form-control col'
                                name='answerOptions'
                                defaultValue={enteredAnswer}
                                required={true} pattern='.*\S+.*'
                            />
                        </div>
                    </div>
                );
            }

            getInputType() {
                throw new Error('NotImplementedException')
            }

            getInputName() {
                throw new Error('NotImplementedException')
            }

            getValue() {
                throw new Error('NotImplementedException')
            }
        }

        class CheckboxComponent extends BaseInputComponent {
            getInputType() {
                return 'checkbox';
            }

            getInputName() {
                return `answerChecked-${this.props.counter}`;
            }

            getValue() {
                return `value-${this.props.counter}`;
            }
        }

        class RadioComponent extends BaseInputComponent {
            getInputType() {
                return 'radio';
            }

            getInputName() {
                return 'answerChecked';
            }

            getValue() {
                return `value-${this.props.counter}`;
            }
        }

        //

        class BaseChoiceComponent extends React.Component {
            constructor(props) {
                super(props);
                let choices = [];
                const initialOptionsValues = getInitialAnswersAndChecked();

                const id_choiceType = document.getElementById('id_choiceType');
                const value = id_choiceType.value;

                if (value === 'SINGLE') {
                    for (const item of initialOptionsValues) {
                        choices.push(
                            <RadioComponent key={item.identifier}
                                            counter={choices.length + 1}
                                            enteredAnswer={item.enteredAnswer}
                                            isChecked={item.isChecked}/>
                        );
                    }
                } else if (value === 'MULTIPLE') {
                    for (const item of initialOptionsValues) {
                        choices.push(
                            <CheckboxComponent key={item.identifier}
                                               counter={choices.length + 1}
                                               enteredAnswer={item.enteredAnswer}
                                               isChecked={item.isChecked}/>
                        );
                    }
                }

                this.state = {
                    choices: choices,
                    showRemoveButton: choices.length > 2,
                };
            }

            componentDidMount = () => {
                while (this.state.choices.length < 2) {
                    this.addChoice();
                }
            }

            updateListState = (newChoices) => {
                this.setState({
                    choices: newChoices,
                    showRemoveButton: newChoices.length > 2,
                });
            }

            addChoice = () => {
                let tempList = this.state.choices;
                tempList.push(this.createChoiceComponent(tempList.length + 1));
                this.updateListState(tempList);
            }

            removeChoice = () => {
                let tempList = this.state.choices;
                tempList.pop();
                this.updateListState(tempList);
            }

            // This will be overridden by derived components to specify which component to add
            createChoiceComponent(counter) {
                throw new Error('createChoiceComponent() must be implemented by the subclass');
            }

            render() {
                return (
                    <div>
                        <div>{this.state.choices}</div>
                        <button type='button' className='btn btn-outline-primary btn-sm float-right'
                                onClick={this.addChoice}>Add Choice
                        </button>
                        {
                            this.state.showRemoveButton ?
                                <button type='button' className='btn btn-outline-danger btn-sm float-right'
                                        onClick={this.removeChoice}>Remove Choice
                                </button> : null
                        }
                        <br></br>
                        <br></br>
                    </div>
                );
            }
        }

        class SingleAnswerSelectionComponent extends BaseChoiceComponent {
            createChoiceComponent(counter) {
                return (
                    <RadioComponent
                        key={counter}
                        counter={counter}
                        enteredAnswer={''}
                        isChecked={false}
                    />
                );
            }
        }

        class MultipleAnswerSelectionComponent extends BaseChoiceComponent {
            createChoiceComponent(counter) {
                return (
                    <CheckboxComponent
                        key={counter}
                        counter={counter}
                        enteredAnswer={''}
                        isChecked={false}
                    />
                );
            }
        }

        //////////////////////////////////////////////////////////////

        class BaseChoiceComponent1 extends React.Component {
            constructor(props) {
                super(props);
                const choices = [];
                this.state = {
                    choices: choices,
                    showRemoveButton: choices.length > 2,
                }
            }

            updateListState(list) {
                this.setState({
                    choices: list,
                    showRemoveButton: list.length > 2,
                })
            }

            componentDidMount = () => {
                while (this.state.choices.length < 2) {
                    this.addChoice();
                }
            }

            addChoice = () => {
            }

            removeChoice = () => {
            }


            render() {
                const style1 = {marginRight: '5px'};
                return (
                    <div>
                        <span className='form-label'>Enter answers in each field and select the correct answers.</span>
                        {
                            this.state.choices.map((component) => component)
                        }
                        <button type='button' className='btn btn-outline-primary btn-sm float-right'
                                onClick={this.addChoice}>Add
                        </button>
                        {
                            this.state.showRemoveButton ?
                                <button type='button' className='btn btn-outline-danger btn-sm float-right'
                                        style={style1}
                                        onClick={this.removeChoice}>Remove</button> : <span></span>
                        }
                        <br></br>
                        <br></br>
                    </div>
                )
            }
        }

        class SingleAnswerSelectionComponent1 extends BaseChoiceComponent {
            constructor(props) {
                super(props);
            }

            addChoice = () => {
                let tempList = this.state.choices;
                tempList.push(<RadioComponent key={tempList.length + 1} counter={tempList.length + 1}
                                              enteredAnswer={''} isChecked={false}/>);
                this.updateListState(tempList);
            }

            removeChoice = () => {
                let tempList = this.state.choices;
                tempList.pop();
                this.updateListState(tempList);
            }

            render() {
                return (
                    super.render()
                )
            }
        }

        class MultipleAnswerSelectionComponent1 extends BaseChoiceComponent {
            constructor(props) {
                super(props);
            }

            addChoice = () => {
                let tempList = this.state.choices;
                tempList.push(<CheckboxComponent key={tempList.length + 1} counter={tempList.length + 1}
                                                 enteredAnswer={''} isChecked={false}/>);
                this.updateListState(tempList);
            }

            removeChoice = () => {
                let tempList = this.state.choices;
                tempList.pop();
                this.updateListState(tempList);
            }

            render() {
                return (
                    super.render()
                )
            }
        }


        function showAnswerListError() {
            let fieldErrorListElement = $('#fieldErrorList');
            fieldErrorListElement.append('{{ form.errors }}');

            if (fieldErrorListElement.children().length === 0)
                return;

            let asElement = document.getElementById('fieldErrorList').firstElementChild.innerHTML;
            fieldErrorListElement.empty();
            fieldErrorListElement.append(asElement);

            $('#fieldErrorList').children('li').each(function () {

                if (this.innerText.includes('initialAnswerOptions')) {
                    let answerError = this.innerText.split('initialAnswerOptions')[1];

                    $('#answerOptionErrorMessage').html(
                        `<p class='text-center' style='color: red;'><small>${answerError}</small></p>`
                    )
                }
            });
        }

        function getInitialAnswersAndChecked() {
            let initialAnswerOptions = []
            {% for item in form.initial.initialAnswerOptions %}
                initialAnswerOptions.push({
                    orderNo: '{{ item.0 }}',
                    enteredAnswer: '{{ item.1 }}',
                    isChecked: '{{ item.2 }}' === 'True',
                });
            {% endfor %}
            return initialAnswerOptions;
        }

        class AnswerChoiceComponent extends React.Component {
            constructor(props) {
                super(props);
                let initialAnswerAndCheckBox = getInitialAnswersAndChecked();
                let choiceComponentListTemp = [];
                for (const item of initialAnswerAndCheckBox) {
                    choiceComponentListTemp.push(<ChoiceComponent key={item.orderNo}
                                                                  counter={item.orderNo}
                                                                  enteredAnswer={item.enteredAnswer}
                                                                  isChecked={item.isChecked}/>);
                }
                this.state = {
                    choiceComponentList: choiceComponentListTemp,
                    showRemoveButton: initialAnswerAndCheckBox.length > 2,
                }
            }

            updateListState(list) {
                this.setState({
                    choiceComponentList: list,
                    showRemoveButton: list.length > 2,
                })
            }

            componentDidMount = () => {
                showAnswerListError();
            }


            increaseRow = () => {
                let tempList = this.state.choiceComponentList;
                tempList.push(<ChoiceComponent key={tempList.length + 1} counter={tempList.length + 1}
                                               enteredAnswer={''} isChecked={false}/>);
                this.updateListState(tempList);
            }

            decreaseRow = () => {
                let tempList = this.state.choiceComponentList;
                tempList.pop();
                this.updateListState(tempList);
            }

            render() {
                const style1 = {marginRight: '5px'}
                return (
                    <div>
                        <span className='form-label'>Enter answers in each field and select the correct answers.</span>
                        {
                            this.state.choiceComponentList.map((component) => component)
                        }
                        <br></br>
                        <button type='button' className='btn btn-outline-primary btn-sm float-right'
                                onClick={this.increaseRow}>Add
                        </button>
                        {
                            this.state.showRemoveButton ?
                                <button type='button' className='btn btn-outline-danger btn-sm float-right'
                                        style={style1}
                                        onClick={this.decreaseRow}>Remove</button> : <span></span>
                        }
                        <div id='answerOptionErrorMessage'></div>
                        <br></br>
                        <br></br>
                    </div>
                )
            }
        }


    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js'
            integrity='sha512-8Q6Y9XnTbOE+JNvjBQwJ2H8S+UV4uA6hiRykhdtIyDYZ2TprdNmWOUaKdGzOhyr4dCyk287OejbPvwl7lrfqrQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js'
            integrity='sha512-MOCpqoRoisCTwJ8vQQiciZv0qcpROCidek3GTFS6KTk2+y7munJIlKCVkFCYY+p3ErYFXCjmFjnfTTRSC1OHWQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js'
            integrity='sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
{% endblock %}