{% extends 'accounts/base.html' %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class='container mt-5' id='idCardWideComponent'>
        <form method="post" enctype='multipart/form-data' onsubmit='return updateChoicesBeforeSubmit();'>
            {% csrf_token %}
            <legend>
                <h2 class='heading-h2'>{{ formTitle }}</h2>
            </legend>

            {% for field in form %}
                {% renderFormFields field %}
                {% for error in field.errors %}
                    <p class='text-center' style='color: red;'><small>{{ error }}</small></p>
                {% endfor %}
                <br>
            {% endfor %}

            <div id='choice-selection-component'></div>

            <div class='row'>
                <div class='col'>
                    <a class='btn btn-outline-dark' href='{% url 'core:quiz-update-view' url=quizUrl %}' role='button'>
                        Back to quiz
                    </a>
                </div>
                <div class='col text-right'>
                    <input type='reset' class='btn btn-secondary' value='Reset'>
                    <input type='submit' class='btn btn-primary' value='Submit'>
                </div>
            </div>
        </form>
    </div>
    <div class='mt-5'></div>
    <script type='text/babel'>

        function updateChoicesBeforeSubmit() {
            const choiceElements = document.querySelectorAll('#choice-selection-component input[type="radio"], #choice-selection-component input[type="checkbox"]');
            const contentElements = document.querySelectorAll('#choice-selection-component input[type="text"]');
            const updatedChoices = [];

            choiceElements.forEach((input, index) => {
                const contentInput = contentElements[index];
                const isChecked = input.checked;
                updatedChoices.push({
                    id: input.getAttribute('identifier') !== 'undefined' ? input.getAttribute('identifier') : null,
                    content: contentInput.value.trim(),
                    isChecked: isChecked
                });
            });

            const hiddenChoicesInput = document.getElementById('id_choices');
            hiddenChoicesInput.value = JSON.stringify(updatedChoices);
            return true;
        }

        window.addEventListener('load', function () {
            if ($('#id_choiceOrder').has('option').length === 0 || $('#id_choiceType').has('option').length === 0) {
                location.reload();
            }

            const id_choiceType = document.getElementById('id_choiceType');
            renderChoicesComponent(id_choiceType.value);
        });

        document.getElementById('id_choiceType').addEventListener('change', (event) => {
            renderChoicesComponent(event.target.value);
        });

        function renderChoicesComponent(value) {
            if (value === 'SINGLE') {
                ReactDOM.render(
                    <SingleAnswerSelectionComponent/>,
                    document.getElementById('choice-selection-component')
                );
            } else if (value === 'MULTIPLE') {
                ReactDOM.render(
                    <MultipleAnswerSelectionComponent/>,
                    document.getElementById('choice-selection-component')
                );
            } else {
                ReactDOM.render(
                    null,
                    document.getElementById('choice-selection-component')
                );
            }
        }

        class BaseInputComponent extends React.Component {
            render() {
                const {counter, isChecked, content} = this.props;
                const style1 = {paddingLeft: '0px'};
                const inputSize = {height: '34px', width: '34px'};

                return (
                    <div className='row'>
                        <div className='col-auto'>
                            <div className='multiple-choice' style={style1}>
                                <input
                                    type={this.getInputType()}
                                    className='form-control'
                                    style={inputSize}
                                    name={this.getInputName()}
                                    defaultChecked={isChecked}
                                    required={this.getInputType() === 'radio'}
                                    value={this.getValue()}
                                    identifier={this.getIdentifier()}
                                />
                                <div className='mt-2'></div>
                            </div>
                        </div>
                        <div className='col'>
                            <input
                                type='text'
                                className='form-control col'
                                defaultValue={content}
                                required={true} pattern='.*\S+.*'
                            />
                        </div>
                    </div>
                );
            }

            getInputType() {
                throw new Error('NotImplementedException');
            }

            getInputName() {
                throw new Error('NotImplementedException');
            }

            getValue() {
                throw new Error('NotImplementedException');
            }

            getIdentifier() {
                throw new Error('NotImplementedException');
            }
        }

        class CheckboxComponent extends BaseInputComponent {
            getInputType() {
                return 'checkbox';
            }

            getInputName() {
                return `${this.props.identifier}`;
            }

            getValue() {
                return `checkbox`;
            }

            getIdentifier() {
                return `${this.props.identifier}`;
            }
        }

        class RadioComponent extends BaseInputComponent {
            getInputType() {
                return 'radio';
            }

            getInputName() {
                return `radio`;
            }

            getValue() {
                return `${this.props.content}`;
            }

            getIdentifier() {
                return `${this.props.identifier}`;
            }
        }

        class BaseChoiceComponent extends React.Component {
            constructor(props) {
                super(props);
                const initialOptionsValues = this.getInitialChoices();

                let choices = [];
                const id_choiceType = document.getElementById('id_choiceType');

                if (id_choiceType.value === 'SINGLE') {
                    for (const item of initialOptionsValues) {
                        choices.push(
                            <RadioComponent
                                key={item.identifier}
                                identifier={item.identifier}
                                counter={choices.length + 1}
                                content={item.content}
                                isChecked={item.isChecked}
                            />
                        );
                    }
                } else if (id_choiceType.value === 'MULTIPLE') {
                    for (const item of initialOptionsValues) {
                        choices.push(
                            <CheckboxComponent
                                key={item.identifier}
                                identifier={item.identifier}
                                counter={choices.length + 1}
                                content={item.content}
                                isChecked={item.isChecked}
                            />
                        );
                    }
                }

                this.state = {
                    choices: choices,
                    showRemoveButton: choices.length > 2,
                };
            }

            getInitialChoices() {
                let initialChoices = [];
                {% for item in form.initial.choices %}
                    initialChoices.push({
                        identifier: '{{ item.id }}',
                        content: '{{ item.content }}',
                        isChecked: '{{ item.isChecked }}' === 'True',
                    });
                {% endfor %}
                return initialChoices;
            }

            componentDidMount() {
                // Ensure there are at least 2 choices after mount
                this.addChoicesIfNeeded();
            }

            addChoicesIfNeeded() {
                let choices = [...this.state.choices];
                while (choices.length < 2) {
                    choices.push(this.createChoiceComponent(choices.length + 1));
                }
                this.setState({choices, showRemoveButton: choices.length > 2});
            }

            updateListState = (newChoices) => {
                this.setState({
                    choices: newChoices,
                    showRemoveButton: newChoices.length > 2,
                });
            }

            addChoice = () => {
                this.updateListState([...this.state.choices, this.createChoiceComponent(this.state.choices.length + 1)]);
            }

            removeChoice = () => {
                const newChoices = this.state.choices.slice(0, -1);  // Removing last choice
                this.updateListState(newChoices);
            }

            // This will be overridden by derived components to specify which component to add
            createChoiceComponent(counter) {
                throw new Error('createChoiceComponent() must be implemented by the subclass');
            }

            render() {
                return (
                    <div>
                        <div>{this.state.choices}</div>
                        <button type='button' className='btn btn-outline-primary btn-sm float-right'
                                onClick={this.addChoice}>Add Choice
                        </button>
                        {
                            this.state.showRemoveButton ?
                                <button type='button' className='btn btn-outline-danger btn-sm float-right'
                                        onClick={this.removeChoice}>Remove Choice
                                </button> : null
                        }
                        <br></br>
                        <br></br>
                    </div>
                );
            }
        }

        class SingleAnswerSelectionComponent extends BaseChoiceComponent {
            createChoiceComponent(counter) {
                return (
                    <RadioComponent
                        key={counter}
                        counter={counter}
                        content={''}
                        isChecked={false}
                    />
                );
            }
        }

        class MultipleAnswerSelectionComponent extends BaseChoiceComponent {
            createChoiceComponent(counter) {
                return (
                    <CheckboxComponent
                        key={counter}
                        counter={counter}
                        content={''}
                        isChecked={false}
                    />
                );
            }
        }
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js'
            integrity='sha512-8Q6Y9XnTbOE+JNvjBQwJ2H8S+UV4uA6hiRykhdtIyDYZ2TprdNmWOUaKdGzOhyr4dCyk287OejbPvwl7lrfqrQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js'
            integrity='sha512-MOCpqoRoisCTwJ8vQQiciZv0qcpROCidek3GTFS6KTk2+y7munJIlKCVkFCYY+p3ErYFXCjmFjnfTTRSC1OHWQ=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js'
            integrity='sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=='
            crossorigin='anonymous' referrerpolicy='no-referrer'></script>
{% endblock %}