{% extends "accounts/base.html" %}
{% load templateTags %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <form method="GET" action="{{ request.path }}">
            <div class="row">
                <div class="col">
                    <input type="text" id="query" name="query" class="form-control col" value="{{ request.GET.query }}"
                           placeholder="Search for a quiz..."/>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </div>
            </div>
        </form>
        <br>

        {% for quiz in quizList %}
            <div class="container mt-3 form-control"
                 style="background-color: #fff; border-radius: 10px; padding: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                <h5><a href="{{ quiz.getUrl }}">{{ quiz.name }}</a></h5>
                <p>Description: {{ quiz.description }}</p>
                <h6>
                    <span class="badge badge-primary">Subject: {{ quiz.subject }}</span>
                    <span class="badge badge-secondary">Topic: {{ quiz.topic }}</span>
                </h6>
            </div>
        {% endfor %}
        <br>
        {% paginationComponent request quizList %}
    </div>
{% endblock %}