{% extends "accounts/base.html" %}
{% load templateTags %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/baseFormStyle.css' %}">
    <style>
        .badge {
            border-radius: 1rem;
        }
    </style>
    <br>

    <div class="container">
        <form method="GET" action="{{ request.path }}">
            <div class="row">
                <div class="col">
                    <input type="text" id="query" name="query" class="form-control col" value="{{ request.GET.query }}"
                           placeholder="Search for a quiz..."/>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary btn-sm" value="Search"/>
                </div>
            </div>
        </form>
        <br><br>

        {% for quiz in quizList %}
            <div class="col form-control">
                <h5><a href="{{ quiz.getUrl }}">{{ quiz.name }}</a></h5>
                <p>Description: {{ quiz.description }}</p>
                <h6>
                    <span class="badge badge-primary">Subject: {{ quiz.subject }}</span>
                    <span class="badge badge-secondary">Topic: {{ quiz.topic }}</span>
                </h6>
            </div>
            <br>
        {% endfor %}
        {% paginationComponent request quizList %}
    </div>
{% endblock %}