{% extends "accounts/base.html" %}
{% load static %}
{% load templateTags %}
{% block content %}
    <br>
    <div class="container" style="color: black;">
        {% if quiz.creator_id == user.id %}
            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-outline-dark btn-sm btn-block"
                       href="{% url 'core:quiz-update-view' url=quiz.url %}">Quiz Detail</a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-outline-dark btn-sm btn-block"
                       href="{% url 'core:quiz-attempts-for-quiz-view' url=quiz.url %}">Quiz Attempts</a>
                </div>
            </div>
        {% endif %}
        <br>
        <div id="idCardWideComponent">
            <form method="post">
                {% csrf_token %}
                <legend>
                    <h2 class="heading-h2">{{ formTitle }}</h2>
                </legend>

                {% for field in form %}
                    {% renderFormFields field %}
                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}
                    <br>
                {% endfor %}

                {% if quiz.creator_id == user.id or not quiz %}
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-danger" value="Reset">
                    </div>
                {% else %}
                    <div class="text-right">
                        <input type="button" class="btn btn-outline-primary" value="Begin Quiz"
                               onclick=redirectToLoginViewOrQuizAttempt('{{ quiz.id }}')>
                    </div>
                {% endif %}
            </form>
        </div>
        {% if quiz.creator_id == user.id %}
            <hr>
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'core:essay-question-create-view' url=quiz.url %}" role="button">Create Essay
                        Question</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'core:multiple-choice-question-create-view' url=quiz.url %}" role="button">Create
                        Multiple Choice
                        Question</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm btn-block"
                       href="{% url 'core:true-or-false-question-create-view' url=quiz.url %}" role="button">Create
                        True or
                        False
                        Question</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-body" style="padding: 1rem;">
                    <div class="row">
                        <div class="col"><b>Name</b></div>
                        <div class="col-auto"><b>Type</b></div>
                        <div class="col-auto"><b>Action</b></div>
                    </div>
                </div>
            </div>
            {% for question in quizQuestions %}
                <div class="card">
                    <div class="card-body" style="padding: 1rem;">
                        <div class="row">
                            <div class="col">{{ question.content }}</div>
                            <div class="col-auto">
                                {% if question.questionType == 'ESSAY' %}
                                    <span class="badge badge-primary">{{ question.get_questionType_display }}</span>
                                {% elif question.questionType == 'TRUE_OR_FALSE' %}
                                    <span class="badge badge-secondary">{{ question.get_questionType_display }}</span>
                                {% elif question.questionType == 'MULTIPLE_CHOICE' %}
                                    <span class="badge badge-success">{{ question.get_questionType_display }}</span>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-outline-dark btn-sm"
                                   href="{% url 'core:question-update-view' quizUrl=quiz.url questionUrl=question.url %}"
                                   role="button"><i class="far fa-edit"></i></a>
                                {#<button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>#}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <br><br><br>
    </div>

    <script>

        window.addEventListener('load', function () {
            let isSubjectDropdownEmpty = $('#id_subject').has('option').length === 0;
            let isDifficultyDropdownEmpty = $('#id_difficulty').has('option').length === 0;
            if (isSubjectDropdownEmpty || isDifficultyDropdownEmpty) {
                location.reload();
            }
        })

        function redirectToLoginViewOrQuizAttempt(quizId) {
            {% if user.is_authenticated %}
                beginQuizAttempt(quizId);
            {% else %}
                const loginURL = "{% url 'accounts:login' %}";
                const next = "?next=";
                const pathname = window.location.pathname;
                const query = window.location.search;
                const redirectURL = loginURL + next + pathname + query;
                window.location.replace(redirectURL);
            {% endif %}
        }

        function beginQuizAttempt(quizId) {
            const requestPath = "{% url 'core:quizAttemptObjectApiEventVersion2Component' %}?quizId=" + quizId;
            fetch(requestPath, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            }).then((response) => response.json())
                .then((json) => {
                    if (json.success) {
                        window.location.href = json.redirectUrl
                    }
                })
        }

    </script>
{% endblock %}