{% extends "accounts/base.html" %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class="container mt-5" id="idCardWideComponent">
        {% csrf_token %}
        {% if not quizAttempt.hasQuizEnded %}
            <div class="progress progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                 style="width: 100%;">
                100%
            </div>
            <br>
        {% endif %}
        <form method="post">
            <div class="question-list">
                <div class="row">
                    <div class="col"><h3>Review</h3></div>
                    <div class="col-auto" id="countdown"></div>
                </div>
                <p>{{ questionPaginator.object_list.0.content }}</p>
                <div id="questions">
                    <div class="accordion" id="quizAccordion">
                        {% for form in forms %}
                            <div class="card {{ form.data.markResponseAlert }}">
                                <div class="card-header" id="heading{{ forloop.counter }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne{{ forloop.counter }}"
                                                aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
                                            Question #{{ forloop.counter }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne{{ forloop.counter }}" class="collapse show"
                                     aria-labelledby="heading{{ forloop.counter }}"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p><b>Content / Question</b></p>
                                        {{ form.data.response.question.content }}

                                        {% if quizAttempt.quiz.creator == request.user %}
                                            <hr>
                                            <p><b>Answer</b></p>
                                            {% if form.data.response.question.questionType == form.data.response.question.Type.ESSAY %}
                                            {% elif form.data.response.question.questionType == form.data.response.question.Type.TRUE_OR_FALSE %}
                                            {% elif form.data.response.question.questionType == form.data.response.question.Type.MULTIPLE_CHOICE %}
                                            {% endif %}
                                        {% endif %}

                                        <hr>
                                        {% if quizAttempt.quiz.creator == request.user %}
                                            <p><b>User Answer</b></p>
                                        {% else %}
                                            <p><b>Your Answer</b></p>
                                        {% endif %}

                                        {% if form.data.response.question.questionType == form.data.response.question.Type.ESSAY %}
                                            {{ form.answer }}
                                        {% elif form.data.response.question.questionType == form.data.response.question.Type.TRUE_OR_FALSE %}
                                            {% for field in form %}
                                                {% for radio in field %}
                                                    <div class="form-check form-check-inline">
                                                        {{ radio.tag }}
                                                        <label class="form-check-label" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% elif form.data.response.question.questionType == form.data.response.question.Type.MULTIPLE_CHOICE %}
                                            {% for field in form %}
                                                {% for checkboxOrRadio in field %}
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            {{ checkboxOrRadio.tag }}
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control col" disabled
                                                                   value="{{ checkboxOrRadio.choice_label }}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                        <br>
                                        {% renderScoreComponent request.user quizAttempt form %}
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-right">
                {% csrf_token %}
                <input type="hidden" name="submitQuiz">
                {% if quizAttempt.status == 'IN_PROGRESS' and quizAttempt.user == request.user %}
                    <button type="submit" class="btn btn-success">Confirm</button>
                {% elif quizAttempt.status == 'SUBMITTED' and quizAttempt.quiz.creator == request.user %}
                    <button type="submit" class="btn btn-success">Confirm</button>
                {% endif %}
            </div>
        </form>
    </div>
    <script src="{% static '/js/utils.js' %}"></script>
    <script>
        function onTimeout() {
            window.location.href = '{% url 'core:quiz-attempt-submission-preview' url=quizAttempt.url %}'
        }

        window.onload = function () {
            if ('{{ quizAttempt.hasQuizEnded }}' !== 'True') {
                startCountdown({{ quizAttempt.getSecondsLeft }}, 'countdown', onTimeout);
            }
        };
    </script>
{% endblock %}