{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5" id="idCardWideComponent">
        <legend>
            <h2 class="heading-h2">Quiz Results</h2>
        </legend>
        <h4 class="text-center">Status: {{ result.quizAttempt.status }}</h4>
        {% if result.quizAttempt.status == 'MARKED' %}
            <dl class="row">
                {% for item in data %}
                    {% if item is not None %}
                        <dd class="col-sm-3">{{ item.key }}</dd>
                        <dt class="col-sm-9">{{ item.value }}</dt>
                    {% else %}
                        <br>
                    {% endif %}
                {% endfor %}
            </dl>
            <div class="mt-4"></div>
            <h5 class="text-center">
                {% if result.score >= result.quizAttempt.quiz.passMark %}
                    <div class="alert alert-success" role="alert">
                        {{ result.quizAttempt.quiz.successText }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {{ result.quizAttempt.quiz.failText }}
                    </div>
                {% endif %}
            </h5>
        {% else %}
            <h5 class="text-center">
                <div class="alert alert-info" role="alert">
                    Your result has not been marked yet. Please be patient.
                </div>
            </h5>
        {% endif %}
    </div>
{% endblock %}