{% extends 'accounts/base.html' %}
{% load static %}
{% load templateTags %}
{% block content %}
    <div class='container mt-5' id='idCardWideComponent'>
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <legend>
                <h2 class='heading-h2'>{{ formTitle }}</h2>
            </legend>

            {% for field in form %}
                {% renderFormFields field %}
                {% for error in field.errors %}
                    <p class='text-center' style='color: red;'><small>{{ error }}</small></p>
                {% endfor %}
                <br>
            {% endfor %}

            <div class='row'>
                <div class='col'>
                    <a class='btn btn-outline-dark' href='{% url 'core:quiz-update-view' url=quizUrl %}' role='button'>
                        Back to quiz
                    </a>
                </div>
                <div class='col text-right'>
                    <input type='reset' class='btn btn-secondary' value='Reset'>
                    <input type='submit' class='btn btn-primary' value='Submit'>
                </div>
            </div>
        </form>
    </div>
{% endblock %}